<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>

					<Include>[CartoLine]*</Include>

					<Exclude>
						[CartoLine]CartoLine.Migrations.*
						[CartoLine]CartoLine.Migrations.AppDbContextModelSnapshot
						[CartoLine]CartoLine.Program*
						[CartoLine]CartoLine.Models.RuleContext
						[CartoLine]CartoLine.Dtos.Line.RuleContextDto
					</Exclude>

					<ExcludeByFile>**/Migrations/*.cs,**/Migrations/**/*.cs,**/Program.cs</ExcludeByFile>

					<SkipAutoProps>true</SkipAutoProps>
					<IncludeTestAssembly>false</IncludeTestAssembly>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
